.link-button {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0071eb;

    &:hover div {
        transform: rotate(315deg);
        transition: all .5s ease-in-out;
    }

    div {
        display: inline-block;
        border-right: 3px solid; 
        border-bottom: 3px solid;
        height: 9px;
        width: 9px;
        margin-bottom: 2px;
        transform: rotate(-45deg);
    }
}