@use '/src/variables.scss' as var;

.section-title {
    text-align: left;
    position: relative;
    margin-bottom: 2rem;

    .title {
        font-family: 'Goth', sans-serif;
        font-size: 3.5rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-weight: bold;
    }

    .description {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .06rem;
        font-weight: bold;
        margin-bottom: 0;
    }
}