@use '/src/variables.scss' as var;

.section-title {
    position: relative;
    margin-bottom: 2rem;

    .title {
        font-size: 4.5rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-weight: bold;
    }

    .description {
        text-transform: capitalize;
        font-size: 3rem;
        letter-spacing: .06rem;
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 3rem;
        }

        span {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                height: 5px;
                width: 100%;
                background: linear-gradient(145deg, #ff2f2f, #93278d);
                bottom: 0;
            }
        }
    }
}